*{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    position: relative;
    background-image: url("/image/bg_image.jpg");
    background-blend-mode: lighten;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.579);
}

.container-fluid{
    box-sizing: content-box;
    border: 2px solid white;
    background-image: url("/image/maroonpattern.jpg");
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-color: rgba(192, 11, 11, 0.638);
}

.contact-caption{
    text-align: center;
    padding: 5rem;
    text-align: center;
    font-size: 6rem;
    font-family: 'Joan', serif;
    padding: 5rem;
    animation: animate 2s linear 1;
}

@keyframes animate{
    70%{
        height: 30vh;
    }
    60%{
        height: 30vh;
    }

    50%{
        height: 20vh;
    }
    40%{
        height: 30vh;
    }
    30%{
        height: 40vh;
    }
    20%{
        height: 50vh;
    }
    10%{
        height: 60vh;
    }
    0%{
        height: 70vh;
    }
}

.name-caption{  
    border: none;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Tiro Telugu', serif;
    color: rgba(128, 0, 0, 0.823);
}



.contact_us_trigger{
    font-size: 2rem;
    font-family: 'Gentium Plus', serif;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.654);
    background-image: url("/image/bg_image.jpg");
    background-blend-mode: lighten;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* transform: rotate(20deg); */
    letter-spacing: 2px;
    transition: all ease-in-out 0.5s;
    /* transform: rotateZ(360deg); */



    transform: scale(-1, 1);
    color: #000080;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.contact_us_trigger:hover{
    transform: rotate(0deg);
    box-shadow: 4px 4px 4px 2px rgb(0, 0, 0);
}
